.icone {
    width: 2rem;
}

.navbar-contact {
    margin-top: 10rem;
    width: 10rem;
}

/* Pour les écrans de petite taille */
@media (max-width: 640px) {
     .navbar-contact {
        width: 80%;
     }
    }
    
    /* Pour les écrans de taille moyenne */
    @media (min-width: 641px) and (max-width: 1024px) {
        .navbar-contact {
            width: 90%;
         }
    }
    
    /* Pour les écrans larges */
    @media (min-width: 1025px) {

    }
