.project {
    width: 100%;
    
}

.title-page-project {
    padding: 2rem;
    position: absolute;
    top: 0;
}

.project-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    
}

.project-title {
    color: #F00;
    font-weight: bold;
}

.project-item {
    width: 30%;
    min-height: 55rem;
    max-height: 55rem;
}

.project-div-images {
    min-height: 55rem;
    max-height: 55rem;
}

